* {
    margin: 0;
    padding: 0;
}
body {
   background: rgb(36, 35, 43); 
   height: 100vh;
   overflow: hidden;
}
h1 {
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: thistle;
}
p {
    padding: 2rem 10rem;
    margin: 10px;
    color: thistle;
}
.image {
    border-radius: 8px;
    box-shadow: 2px 2px 10px #ffffff1c;
}

.container{
    text-align: center;
}
.sidebar {
    position: absolute;
    height: 100%;
    width: 200px;
    background: rgb(6, 173, 157);
    left: -300px;
    z-index: 1;

}
li {
    color: rgb(53, 40, 40);
    font-size: 2rem;
    padding-left: 10px;
    cursor: pointer; 
}
li:hover {
    background: rgb(53, 40, 40) ;
    color: thistle;
}
#btmenu {
    color: thistle;
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 2rem;
}
#btclose {
    position: absolute;
    top: 5px;
    left: 150px;
    font-size: 2rem;
}
